apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-service
  labels:
    {{- include "realtime.labels" . | nindent 4 }}
  {{- with .Values.global.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    {{- include "realtime.labels" . | nindent 6 }}
  type: {{ .Values.global.control.service.type }}
  ports:
    - port: {{ include "control.realtime.app_port" . }}
      targetPort: {{ include "control.realtime.app_port" . }}
      protocol: TCP
      name: ws
    - port: {{ include "control.realtime.metrics_port" . }}
      targetPort: {{ include "control.realtime.metrics_port" . }}
      protocol: TCP
      name: metrics
