apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-service
  labels:
{{- include "server.labels" . | nindent 4 }}
{{- if or .Values.global.service.annotations .Values.global.control.server.annotations }}
  annotations:
{{- with .Values.global.service.annotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
{{- with .Values.global.control.server.annotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
{{- end }}
spec:
  selector:
{{- include "server.labels" . | nindent 4 }}
  type: {{ .Values.global.control.service.type }}
  ports:
    - port: {{ include "server.port" . }}
      targetPort: {{ include "server.port" . }}
      protocol: TCP
      name: http


