{{- if .Values.global.control.ingress.enabled -}}
{{- $fullName := include "control.fullname" . -}}
{{- $serverPort := .Values.global.control.serverPort -}}
{{- $frontendPort := .Values.global.control.frontendPort -}}
{{- $realtimePort := ( include "control.realtime.app_port" . ) -}}
{{- $widgetPort := .Values.global.control.widgetPort -}}
{{- $ctrlSimApiPort := .Values.global.control.ctrlSimApiPort -}}
{{- if and .Values.global.control.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.global.control.ingress.annotations "kubernetes.io/ingress.class" .Values.global.control.ingress.className}}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "control.labels" . | nindent 4 }}
  annotations:
    {{- include "control.ingressAnnotations" . | nindent 4 }}
spec:
  {{- if and .Values.global.control.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.global.control.ingress.className }}
  {{- end }}
  {{- if .Values.global.control.ingress.tls }}
  tls:
    - hosts:
        - {{ include "control.Domain" . }}
      secretName: tls-control
    {{- if and (hasKey .Values.global.control "sim_vector") (hasKey .Values.global.control.sim_vector "enabled") .Values.global.control.sim_vector.enabled (hasKey .Values.global.control.sim_vector "vectorizerDomain") .Values.global.control.sim_vector.vectorizerDomain }}
    - hosts:
        - {{ .Values.global.control.sim_vector.vectorizerDomain }}
      secretName: tls-sim-vector
    {{- end }}
    {{- if and (hasKey .Values.global.control "sim_vector_diskann") (hasKey .Values.global.control.sim_vector_diskann "enabled") .Values.global.control.sim_vector_diskann.enabled (hasKey .Values.global.control.sim_vector_diskann "vectorizerDomain") .Values.global.control.sim_vector_diskann.vectorizerDomain }}
    - hosts:
        - {{ .Values.global.control.sim_vector_diskann.vectorizerDomain }}
      secretName: tls-sim-vector-diskann
    {{- end }}
    {{- if and (hasKey .Values.global.control "simTei") (hasKey .Values.global.control.simTei "enabled") .Values.global.control.simTei.enabled (hasKey .Values.global.control.simTei "teiDomain") .Values.global.control.simTei.teiDomain }}
    - hosts:
        - {{ .Values.global.control.simTei.teiDomain }}
      secretName: tls-sim-tei
    {{- end }}
    {{- if and (hasKey .Values.global.control "simTeiSparse") (hasKey .Values.global.control.simTeiSparse "enabled") .Values.global.control.simTeiSparse.enabled (hasKey .Values.global.control.simTeiSparse "teiDomain") .Values.global.control.simTeiSparse.teiDomain }}
    - hosts:
        - {{ .Values.global.control.simTeiSparse.teiDomain }}
      secretName: tls-sim-tei-sparse
    {{- end }}
    {{- if and (hasKey .Values.global.control "claude_code_api") (hasKey .Values.global.control.claude_code_api "enabled") .Values.global.control.claude_code_api.enabled (hasKey .Values.global.control.claude_code_api "claudeCodeApiDomain") .Values.global.control.claude_code_api.claudeCodeApiDomain }}
    - hosts:
        - {{ .Values.global.control.claude_code_api.claudeCodeApiDomain }}
      secretName: tls-claude-code-api
    {{- end }}
  {{- end }}
  rules:
    - host: {{ include "control.Domain" . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
          - path: /ws
            pathType: Exact
            backend:
              service:
                name: realtime-service
                port:
                  number: {{ $realtimePort }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: {{ include "server.port" . }}
          - path: /papi
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: {{ include "server.port" . }}
          {{- if and (hasKey .Values.global.control "ctrl_sim_api") (hasKey .Values.global.control.ctrl_sim_api "enabled") .Values.global.control.ctrl_sim_api.enabled }}
          - path: "/api/2.0"
            pathType: ImplementationSpecific
            backend:
              service:
                name: ctrl-sim-api-service
                port:
                  number: {{ $ctrlSimApiPort }}
          {{- end }}
          - path: "/api/1.0/download"
            pathType: ImplementationSpecific
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
          {{- if hasKey .Values.global.control "livekit" }}
          - path: "/api/1.0/sip/download"
            pathType: ImplementationSpecific
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
          {{- end }}
          - path: "/papi/1.0/download"
            pathType: ImplementationSpecific
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
          {{- if hasKey .Values.global.control "livekit" }}
          - path: "/papi/1.0/sip/download"
            pathType: ImplementationSpecific
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
          {{- end }}
    - host: {{ include "control.WidgetDomain" . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: widget-service
                port:
                  number: {{ $widgetPort }}
{{- if .Values.global.control.apiSubDomain }}
    - host: {{ include "control.ApiDomain" . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: {{ $frontendPort }}
{{- end }}
{{- if and (hasKey .Values.global.control "sim_vector") (hasKey .Values.global.control.sim_vector "enabled") .Values.global.control.sim_vector.enabled (hasKey .Values.global.control.sim_vector "vectorizerDomain") .Values.global.control.sim_vector.vectorizerDomain }}
    - host: {{ .Values.global.control.sim_vector.vectorizerDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: sim-vector-service
                port:
                  number: 8000
              {{- else }}
              serviceName: sim-vector-service
              servicePort: 8000
              {{- end }}
{{- end }}
{{- if and (hasKey .Values.global.control "sim_vector_diskann") (hasKey .Values.global.control.sim_vector_diskann "enabled") .Values.global.control.sim_vector_diskann.enabled (hasKey .Values.global.control.sim_vector_diskann "vectorizerDomain") .Values.global.control.sim_vector_diskann.vectorizerDomain }}
    - host: {{ .Values.global.control.sim_vector_diskann.vectorizerDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: sim-vector-diskann-service
                port:
                  number: 8000
              {{- else }}
              serviceName: sim-vector-diskann-service
              servicePort: 8000
              {{- end }}
{{- end }}
{{- end -}}
{{- if and (hasKey .Values.global.control "simTei") (hasKey .Values.global.control.simTei "enabled") .Values.global.control.simTei.enabled (hasKey .Values.global.control.simTei "teiDomain") .Values.global.control.simTei.teiDomain }}
    - host: {{ .Values.global.control.simTei.teiDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: sim-tei-service
                port:
                  number: 80
              {{- else }}
              serviceName: sim-tei-service
              servicePort: 80
              {{- end }}
{{- end }}
{{- if and (hasKey .Values.global.control "simTeiSparse") (hasKey .Values.global.control.simTeiSparse "enabled") .Values.global.control.simTeiSparse.enabled (hasKey .Values.global.control.simTeiSparse "teiDomain") .Values.global.control.simTeiSparse.teiDomain }}
    - host: {{ .Values.global.control.simTeiSparse.teiDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: sim-tei-sparse-service
                port:
                  number: 80
              {{- else }}
              serviceName: sim-tei-sparse-service
              servicePort: 80
              {{- end }}
{{- end }}
{{- if and (hasKey .Values.global.control "claude_code_api") (hasKey .Values.global.control.claude_code_api "enabled") .Values.global.control.claude_code_api.enabled (hasKey .Values.global.control.claude_code_api "claudeCodeApiDomain") .Values.global.control.claude_code_api.claudeCodeApiDomain }}
    - host: {{ .Values.global.control.claude_code_api.claudeCodeApiDomain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion }}
              service:
                name: claude-code-api-service
                port:
                  number: 8000
              {{- else }}
              serviceName: claude-code-api-service
              servicePort: 8000
              {{- end }}
{{- end }}
